{% macro worksite_info(value, margin=true) %}
    <div class="border-b border-dotted border-gray-700 {{ margin ? "mb-1" : "" }}">{{ value }}</div>
{% endmacro %}

{% macro report_section(title, elements) %}
    <ul class="list-disc ml-4 mb-4">
        <li>
            <span class="text-lg font-bold uppercase">{{ title }}</span>
            <ul class="mt-2">
                {% for element in elements %}
                    <li class="flex items-center gap-2 mb-1">
                        <input type="checkbox" id="{{ element.id ~ "_checkbox" }}" name="{{ element.id ~ "_checkbox" }}"
                               class="border border-black w-7 h-7" {{ (element.checked is defined and element.checked) or (element.value is defined and element.value != '')? 'checked' : '' }}>
                        <label for="{{ element.id ~ "_checkbox" }}" class="text-md">{{ element.label | raw }}</label>
                        {% if element.value is defined %}
                            <input type="text" id="{{ element.id }}" name="{{ element.id }}"
                                   class=" border-b border-dotted border-gray-700 max-w-full flex-grow"
                                   value="{{ element.value }}">
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% endmacro %}

{% macro elimination_section(elements) %}
    <div class="flex flex-col mt-6 page-break">
        {% for element in elements %}
            <div class="flex items-center gap-2 mb-1">
                <input type="checkbox" id="{{ element.id ~ "_checkbox" }}" name="{{ element.id ~ "_checkbox" }}"
                       class="border border-black w-7 h-7">
                <label for="{{ element.id ~ "_checkbox" }}"
                       class="text-lg font-bold uppercase">{{ element.label }}</label>
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{% macro observation_section(value) %}
    <div class="flex flex-col mt-4 border-2 border-black">
        <div class="bg-gray-300 uppercase font-bold text-lg text-center border-b-2 border-black">Observations diverses
        </div>
        <label class="mx-1">
            <textarea rows="20" class="w-full resize-none focus:outline-none">{{ value }}</textarea>
        </label>
    </div>
{% endmacro %}
