/*
 * Copyright 2021,2022 Maxime Girardet
 *
 * This file is part of Nova.
 *
 * Nova is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any later version.
 *
 * Nova is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along with Nova. If not, see <https://www.gnu.org/licenses/agpl-3.0.html>.
 */

@import 'components/Scrollbar/Scrollbar.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.loading {
	background-color: #4a69bd;
}

.visit-page-grid {
	grid-template-columns: 336px calc(100% - 336px - 1rem);
	grid-column-gap: 1rem;
	height: calc(100% - 64px);
}

.sidebar {
	height: calc(100vh - 64px);
	top: 0;
	@apply overflow-y-auto sticky z-50
}

.sidebar-content {
	height: fit-content;
}

.pdf-report {
	height: 66vh;
}